<!DOCTYPE html>
<% provide(:title, "HOME")%>
<!-- all of the contents of the pages go inside the general yield tag of the layout file, in the body. i.e., I can't override the header that the layout files defines-->
<head>My title goes here...</head>
<body>Page with all the comforts of home</body>